.footer {
    padding: 2rem 0 1.875rem 0;
    background-color: $footer_bg;
}

.menu-footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1.7rem;
}

.menu-footer__item:hover {
    text-decoration: underline;
}

.menu-footer__link {
    line-height: 1.5rem;
    padding-left: 1.625rem;
}

.menu-footer {
    margin-bottom: 1.75rem;
}

.menu-footer__link_home {
    background: url(/assets/icons/home.svg) left no-repeat;
}

.menu-footer__link_about {
    background: url(/assets/icons/user.svg) left no-repeat;
}

.menu-footer__link_contact {
    background: url(/assets/icons/phone_icon.svg) left no-repeat;
}

.footer_content {
    display: flex;
    gap: 6.25rem;
    align-items: center;
    justify-content: space-evenly;
}

.footer__logo {
    width: 5.25rem;
    height: 2.125rem;
}

.footer__social {
    display: flex;
    gap: 0.625rem;
}

.social__link {
    height: 3.5rem;
    padding: 0.5rem;
    background: $purple;
    border-radius: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    transition: background-color 0.3s ease;
}

.social__link:hover {
    background-color: $light-purple;
}

@media (min-width: 61.9988em) {

    .menu-footer__list {
        column-gap: 3.125rem;
    }

    .footer__social {
        gap: 1.25rem;
    }
}