@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Inter:wght@400;600&display=swap');

@import "reset";
@import "variables";
@import "header";
@import "footer";

/* ------------------------ */

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    background-color: $grayish;
    color: $black;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 340px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* ------------------------ */
.button_animation {
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 30px;
    // box-shadow: 0 0 15px rgb(0, 0, 0, 0.4);
    background: $purple;
}

// .button_animation:hover {
//     box-shadow: 0 0 15px rgb(0, 0, 0, 0.4);
// }

.button_animation::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    backdrop-filter: blur(25px);
    z-index: 2;
}

.button__text {
    padding: 14px 30px;
    font-family: 'Inter', sans-serif;
    color: $black;
    font-size: 1.125rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 2;
}

.button__glow {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 0 50%;
}

.button__color {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-90deg, red, orange, yellow, green, blue, indigo, violet);
}

/* ------------------------ */

// Common

.button {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: normal;
    padding: 1.125rem 1.875rem;
    background-color: $purple;
    border-radius: 1.875rem;
    transition: background-color 0.3s ease;
}

.button:hover,
.button:active {
    // background-color: $light-grayish-blue;
    background-color: hsla(245, 100%, 89%, 1);
}

.title {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.2rem;
    text-align: center;
}

/* ------------------------ */

.main__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 122px;
}

.main__title {
    font-family: 'Catamaran', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 2.75rem;
}

.button_dark {
    background-color: $light-grayish-blue;
    transition: background-color 0.3s ease;
}

.button_dark:hover {
    background-color: $purple;
}

.main__buttons {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.main__cv-button span {
    padding-right: 2.125rem;
    display: inline-block;
    background: url(/assets/icons/download.svg) right no-repeat;
}

.button__text span {
    padding-right: 34px;
    line-height: 1.5;
    text-align: center;
    display: inline-block;
    background: url(/assets/icons/mdi_github.svg) right no-repeat;
}

// .main__github-button span {
//     padding-right: 34px;
//     display: inline-block;
//     background: url(/assets/icons/mdi_github.svg) right no-repeat;
// }

.responsive-picture {
    max-width: 100%;
    height: auto;
}

.main__image {
    text-align: center;
    padding-top: 38px;
}

/* ------------------------ */

.about {
    padding: 45px 0 52px 0;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__text {
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

/* ------------------------ */

.projects {
    padding: 50px 0 54px 0;
}

.projects__container {}

.works__title:not(:last-child) {
    margin-bottom: 1.5rem;
}

.items-projects {}

.items-projects__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.items-works__item {}

.items-projects__image img {
    border-radius: 16px;
}

.items-projects__image {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.items-projects__image:hover {
    transform: scale3d(1.1, 1.1, 1);
    border-radius: 16px;
    box-shadow: 0px 4px 16px 0px rgba(141, 142, 255, 0.6);
}

.items-projects__text {
    text-align: center;
}

.items-projects__title {
    margin-bottom: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.items-projects__text p {
    display: inline-block;
    width: 100%;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
}

.items-projects__button {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    padding: 0.6875rem 1rem;
    background-color: $light-grayish-blue;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 42px;
}

// .items-projects__button:not(:last-child) {
//     margin-bottom: 42px;
// }

.items-projects__button span {
    height: 24px;
    width: 24px;
    padding-right: 34px;
    // display: inline-block;
    background: url(/assets/icons/arrow_icon.svg) right no-repeat;
}

.items-projects__button:hover {
    background-color: hsla(244, 100%, 89%, 1);
}

/* ------------------------ */

.contacts {
    padding-bottom: 3rem;
}

.contacts__container {}

.contacts__content {}


.contacts__image {
    display: none;
}

.form {
    background: $purple;
    padding: 57px 20px 41px;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form__item {}

.form__label {
    display: block;
    margin-bottom: 0.625rem;
    font-weight: 700;
    // color: $dark-grayish;
}

.form__input {
    font-family: 'Inter', sans-serif;
    border-radius: 1rem;
    background: $light-purple;
    width: 100%;
    height: 3.6875rem;
    padding: 0 1.5rem;
    color: $black;
}

textarea.form__input {
    height: 5rem;
    resize: vertical;
    padding: 1.5rem;
}

.form__input:not(:last-child) {
    margin-bottom: 1.5rem;
}

.form__input::placeholder {
    color: $dark-grayish;
    transition: opacity 0.3s ease 0s;
}

.form__input:focus-visible {
    outline: none;
}

.form__input:focus::placeholder {
    opacity: 0;
}

.form__button {
    margin-top: 21px;
    width: 100%;
    background-color: $lime-green;
    transition: all 0.3s ease;
}

.form__button:hover {
    background-color: hsla(70, 100%, 80%, 0.9);
}

.form__button span {
    padding-right: 34px;
    display: inline-block;
    background: url(/assets/icons/send_icon.svg) right no-repeat;
}

/* ------------------------ */

.error {
    display: none;
}

/* ------------------------ */

@media (min-width: 479.9808px) {
    [class*="__container"] {
        max-width: 70%;
    }

    .main__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 7.625rem;
    }
}

@media (min-width: 797.98px) {
    [class*="__container"] {
        max-width: 80%;
    }

    .button__text {
        padding: 18px 30px;
    }

    .button {
        padding: 20px 30px;
    }

    .main__title {
        font-size: 3rem;
        margin-bottom: 3.375rem;
    }

}

@media (min-width: 991.9808px) {
    [class*="__container"] {
        max-width: 90%;
    }

    .main__container {
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        margin-top: 45px;
    }

    .main__content {
        margin-bottom: 0;
        flex: 2;
    }

    .main__buttons {
        gap: 1.25rem;
        flex-direction: row;
        align-items: center;
    }

    .main__title {
        font-size: 98px;
        text-align: left;
        margin-bottom: 3rem;
    }

    .main__image {
        padding-top: 0;
        flex: 1;
    }

}

@media (min-width: 1280px) {
    [class*="__container"] {
        max-width: 1200px;
    }
}