@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Inter:wght@400;600&display=swap");
/* reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 20rem;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

span {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  line-height: inherit;
}

/* Primary colors */
/* Neutral colors */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 2;
  background-color: hsl(206, 20%, 93%);
  border-bottom: 1px solid hsl(215, 18%, 79%);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 70px;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo img {
  width: 89px;
  height: 40px;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 36px;
}

.menu__link {
  font-size: 18px;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu-open body {
  overflow: hidden;
}

.menu__body {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: hsl(206, 20%, 93%);
  padding: 100px 15px 20px 15px;
  transition: left 0.3s;
  overflow: auto;
  z-index: 1;
}

.menu-open .menu__body {
  left: 0;
}

.icon-menu {
  display: block;
  position: relative;
  z-index: 5;
  width: 30px;
  height: 18px;
}

/* Burger menu */
.icon-menu__line,
.icon-menu::before,
.icon-menu::after {
  content: "";
  position: absolute;
  background-color: hsl(245, 100%, 81%);
  width: 100%;
  height: 0.125rem;
  left: 0;
  transition: all 0.3s ease;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu__line {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  transform: rotate(45deg);
}

.menu-open .icon-menu__line {
  left: 50%;
  width: 0;
}

@media (min-width: 797.98px) {
  .menu__link {
    font-size: 20px;
  }
  .menu__list {
    gap: 42px;
  }
}
@media (min-width: 991.9808px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 90px;
  }
  .header::before {
    height: 90px;
  }
  .header__logo img {
    width: 132px;
    height: 53px;
  }
  .menu__body {
    position: relative;
    z-index: 5;
    left: 0;
    padding: 0;
    overflow: hidden;
  }
  .menu__list {
    flex-direction: row;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 5px;
  }
  .icon-menu {
    display: none;
  }
}
.footer {
  padding: 32px 0 30px 0;
  background-color: hsl(0, 0%, 85%);
}

.menu-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.7rem;
       column-gap: 1.7rem;
}

.menu-footer__item:hover {
  text-decoration: underline;
}

.menu-footer__link {
  line-height: 1.5rem;
  padding-left: 26px;
}

.menu-footer {
  margin-bottom: 28px;
}

.menu-footer__link_home {
  background: url(/assets/icons/home.svg) left no-repeat;
}

.menu-footer__link_about {
  background: url(/assets/icons/user.svg) left no-repeat;
}

.menu-footer__link_contact {
  background: url(/assets/icons/phone_icon.svg) left no-repeat;
}

.footer_content {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-evenly;
}

.footer__logo {
  width: 84px;
  height: 34px;
}

.footer__social {
  display: flex;
  gap: 10px;
}

.social__link {
  height: 56px;
  padding: 8px;
  background: hsl(245, 100%, 81%);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 56px;
}

/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  background-color: hsl(206, 20%, 93%);
  color: hsl(0, 0%, 0%);
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 340px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ------------------------ */
.button_animation {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  background: hsl(245, 100%, 81%);
}

.button_animation::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  z-index: 2;
}

.button__text {
  padding: 14px 30px;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 0%);
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  position: relative;
  z-index: 2;
}

.button__glow {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 0 50%;
}

.button__color {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-90deg, red, orange, yellow, green, blue, indigo, violet);
}

/* ------------------------ */
.button {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  padding: 1.125rem 1.875rem;
  background-color: hsl(245, 100%, 81%);
  border-radius: 1.875rem;
  transition: background-color 0.3s ease;
}

.button:hover,
.button:active {
  background-color: hsl(245, 100%, 89%);
}

.title {
  font-family: "Catamaran", sans-serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* ------------------------ */
.main__container {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7.625rem;
}

.main__title {
  font-family: "Catamaran", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2.75rem;
}

.button_dark {
  background-color: hsl(215, 18%, 79%);
  transition: background-color 0.3s ease;
}

.button_dark:hover {
  background-color: hsl(245, 100%, 81%);
}

.main__buttons {
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.main__cv-button span {
  padding-right: 2.125rem;
  display: inline-block;
  background: url(/assets/icons/download.svg) right no-repeat;
}

.button__text span {
  padding-right: 34px;
  line-height: 1.5;
  text-align: center;
  display: inline-block;
  background: url(/assets/icons/mdi_github.svg) right no-repeat;
}

.responsive-picture {
  max-width: 100%;
  height: auto;
}

.main__image {
  text-align: center;
  padding-top: 38px;
}

/* ------------------------ */
.about {
  padding: 45px 0 52px 0;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__text {
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

/* ------------------------ */
.projects {
  padding: 50px 0 54px 0;
}

.works__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.items-projects__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.items-projects__image img {
  border-radius: 16px;
}

.items-projects__image {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.items-projects__image:hover {
  transform: scale3d(1.1, 1.1, 1);
  border-radius: 16px;
  box-shadow: 0px 4px 16px 0px rgba(141, 142, 255, 0.6);
}

.items-projects__text {
  text-align: center;
}

.items-projects__title {
  margin-bottom: 1.5rem;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.items-projects__text p {
  display: inline-block;
  width: 100%;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}

.items-projects__button {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  padding: 0.6875rem 1rem;
  background-color: hsl(215, 18%, 79%);
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-bottom: 42px;
}

.items-projects__button span {
  height: 24px;
  width: 24px;
  padding-right: 34px;
  background: url(/assets/icons/arrow_icon.svg) right no-repeat;
}

.items-projects__button:hover {
  background-color: hsl(244, 100%, 89%);
}

/* ------------------------ */
.contacts {
  padding-bottom: 3rem;
}

.contacts__image {
  display: none;
}

.form {
  background: hsl(245, 100%, 81%);
  padding: 57px 20px 41px;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form__label {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: 700;
}

.form__input {
  font-family: "Inter", sans-serif;
  border-radius: 1rem;
  background: hsl(245, 100%, 94%);
  width: 100%;
  height: 3.6875rem;
  padding: 0 1.5rem;
  color: hsl(0, 0%, 0%);
}

textarea.form__input {
  height: 5rem;
  resize: vertical;
  padding: 1.5rem;
}

.form__input:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form__input::-moz-placeholder {
  color: hsl(0, 0%, 39%);
  -moz-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.form__input::placeholder {
  color: hsl(0, 0%, 39%);
  transition: opacity 0.3s ease 0s;
}

.form__input:focus-visible {
  outline: none;
}

.form__input:focus::-moz-placeholder {
  opacity: 0;
}

.form__input:focus::placeholder {
  opacity: 0;
}

.form__button {
  margin-top: 21px;
  width: 100%;
  background-color: hsl(70, 86%, 63%);
  transition: all 0.3s ease;
}

.form__button:hover {
  background-color: hsla(70, 100%, 80%, 0.9);
}

.form__button span {
  padding-right: 34px;
  display: inline-block;
  background: url(/assets/icons/send_icon.svg) right no-repeat;
}

/* ------------------------ */
.error {
  display: none;
}

/* ------------------------ */
@media (min-width: 479.9808px) {
  [class*=__container] {
    max-width: 70%;
  }
  .main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.625rem;
  }
}
@media (min-width: 797.98px) {
  [class*=__container] {
    max-width: 80%;
  }
  /* ------------------------ */
  .button__text {
    padding: 20px 30px;
  }
  .main__title {
    font-size: 3rem;
    margin-bottom: 3.375rem;
  }
}
@media (min-width: 991.9808px) {
  [class*=__container] {
    max-width: 90%;
  }
}
@media (min-width: 1280px) {
  [class*=__container] {
    max-width: 1200px;
  }
}/*# sourceMappingURL=style.css.map */