@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Inter:wght@400;600&display=swap');

@import "reset";
@import "variables";
@import "header";
@import "footer";
@import "form";

/* ------------------------ */

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    background-color: $grayish;
    color: $black;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 21.25rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin: 0 auto;
}

/* ------------------------ */
.button_animation {
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 30px;
    background: $purple;
}

.button_animation::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    backdrop-filter: blur(25px);
    z-index: 2;
}

.button__text {
    padding: 0.875rem 1.875rem;
    font-family: 'Inter', sans-serif;
    color: $black;
    font-size: 1.125rem;
    letter-spacing: 0.125rem;
    font-weight: 700;
    text-align: center;
    position: relative;
    z-index: 2;
}

.button__glow {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 0 50%;
}

.button__color {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-90deg, red, orange, yellow, green, blue, indigo, violet);
}

/* ------------------------ */

// Common

.button {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: normal;
    padding: 1.125rem 1.875rem;
    background-color: $purple;
    border-radius: 1.875rem;
    transition: background-color 0.3s ease;
}

.button:hover,
.button:active {
    background-color: hsla(245, 100%, 89%, 1);
}

.title {
    font-family: 'Catamaran', sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.2rem;
    text-align: center;
}

/* ------------------------ */

.main__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.625rem;
    flex: 0 1 50%;
}

.main__title {
    font-family: 'Catamaran', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 1.5rem;
}

.button_dark {
    background-color: $light-grayish-blue;
    transition: background-color 0.3s ease;
}

.button_dark:hover {
    background-color: $purple;
}

.main__buttons {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.main__cv-button span {
    padding-right: 2.125rem;
    display: inline-block;
    background: url(/assets/icons/download.svg) right no-repeat;
}

.button__text span {
    padding-right: 2.125rem;
    line-height: 1.5;
    text-align: center;
    display: inline-block;
    background: url(/assets/icons/mdi_github.svg) right no-repeat;
}

.main__decor {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__image {
    max-width: 20.625rem;
}

.main__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------------ */

.about {
    padding: 2.8125rem 0 3.25rem 0;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__text {
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

.about__image img {
    max-width: 20.5rem;
}

/* ------------------------ */

.projects {
    padding: 3.125rem 0 3.375rem 0;
}

.works__title:not(:last-child) {
    margin-bottom: 1.5rem;
}

.items-projects {
    display: flex;
    flex-direction: column;
}

.items-projects__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.8125rem;
}

.items-projects__image img {
    border-radius: 1rem;
}

.items-projects__image {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.items-projects__image:hover {
    transform: scale3d(1.1, 1.1, 1);
    border-radius: 1rem;
    box-shadow: 0 0.25rem 1rem 0 rgba(141, 142, 255, 0.6);
}

.items-projects__text {
    text-align: center;
}

.items-projects__title {
    margin-bottom: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.items-projects__text p {
    display: inline-block;
    width: 100%;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
}

.items-projects__button {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    padding: 0.6875rem 1rem;
    background-color: $light-grayish-blue;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 2.625rem;
}

.items-projects__button span {
    height: 1.5rem;
    width: 1.5rem;
    padding-right: 2.125rem;
    background: url(/assets/icons/arrow_icon.svg) right no-repeat;
}

.items-projects__button:hover {
    background-color: hsla(244, 100%, 89%, 1);
}

/* ------------------------ */

.error {
    display: none;
}

/* ------------------------ */

@media (min-width: 479.9808px) {
    [class*="__container"] {
        max-width: 90%;
    }

    .main__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 7.625rem;
    }

    .main__image {
        max-width: 28rem;
    }

    .about__image img {
        max-width: 28rem;
    }

    .main__buttons {
        width: 70%;
    }

    .items-projects__text p {
        max-width: 26.25rem;
    }
}

@media (min-width: 797.98px) {

    .button__text {
        padding: 1.125rem 1.875rem;
    }

    .button {
        padding: 1.25rem 1.875rem;
    }

    .main__title {
        font-size: 3rem;
        margin-bottom: 3.375rem;
    }

    .main__image {
        max-width: 35rem;
    }

    .about__image img {
        max-width: 30rem;
    }

    .about__text {
        max-width: 38.75rem;
        margin-bottom: 2.75rem;
    }

    .main__buttons {
        width: 60%;
    }

    .items-projects__text p {
        max-width: 30rem;
    }

}


@media (min-width: 991.98px) {
    .title {
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .main__container {
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        margin-top: 6.25rem;
    }

    .main__content {
        margin-bottom: 0;
        flex: 0 1 60%;
        min-width: 27.5rem;
    }

    .main__buttons {
        gap: 1.25rem;
        flex-direction: row;
        align-items: center;
    }

    .main__title {
        font-size: 5rem;
        text-align: left;
        margin-bottom: 3rem;
    }

    .main__decor {
        flex: 0 1 40%;
    }

    .main__image {
        max-width: 27.5rem;
    }

    .main__buttons {
        width: 100%;
    }

    /* ------------------------ */

    .about {
        padding: 9.0625rem 0 4.5rem 0;
    }

    .about__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 2.5rem;
    }

    .about__text {
        margin-bottom: 0;
    }

    .about__image img {
        max-width: 31.25rem;
    }

    /* ------------------------ */

    .projects {
        padding: 4.375rem 0 3.75rem 0;
    }

    .items-projects {
        flex-direction: row;
        gap: 0.625rem;
    }

    .works__title:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    .items-projects__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.8125rem;
    }
}

@media (min-width: 1280px) {
    [class*="__container"] {
        max-width: 75rem;
    }

    .main__title {
        font-size: 6.125rem;
    }

    .main__container {
        gap: 10rem;
    }

    .items-projects {
        gap: 2.5rem;
    }

    .main__image {
        max-width: 42rem;
    }

    .about__container {
        gap: 5.625rem;
    }

    .about__image img {
        max-width: 34.25rem;
    }
}